{% extends 'catalog/base.html' %}
{% load static %}
{% load media_tags %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for object in object_list %}
                <div class="col">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <strong class="card-text">{{ object.category }}</strong>
                        <p class="card-text">{{ object }}</p>
                        <img class="card-img-top" src="{{ object.preview|mediapath }}">
                        <div class="card-text">
                            <p>{{ object.description|truncatechars:100 }}</p>
                            <a href="{% url 'blog:view' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">View</a>
                            <a href="{% url 'blog:edit' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-success ">Edit</a>
                            <a href="{% url 'blog:delete' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <p><a class="btn btn-success mt-5" href="{% url 'blog:create' %}"><strong>Add article</strong></a></p>
    </div>
{% endblock %}
