{% extends 'catalog/base.html' %}

{% load static %}
{% load media_tags %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="col-12">
                <div class="card shadow-sm h-100">
                    <div class="card-body">
                        <h2 class="card-text">{{ object }}</h2>
                         <p class="text-muted">Views {{ object.count_of_view }}</p>
                        <img class="card-img-top" src="{{ object.preview|mediapath }}">
                        <div class="card-text">{{ object.content }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
