{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<!--- Bootstrap core CSS --->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<body>

{% block mainmenu %}
    <header data-bs-theme="dark">
        <div class="collapse text-bg-dark" id="navbarHeader">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                        <h4>About</h4>
                        <p class="text-body-secondary">Some information about us.</p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                        <h4>Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="https://github.com/AlexanderPshenichnyy" class="text-white">Follow on
                                GitHub</a></li>
                            <li><a href="#" class="text-white">Email me - ter.anti@mail.ru</a></li>
                            <li><a href="#" class="text-white">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="container">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <strong>HomeStore</strong>
                </a>
                <a href="/contacts" class="navbar-brand d-flex align-items-center">
                    <strong>Contacts</strong>
                </a>
                <a href="/products" class="navbar-brand d-flex align-items-center">
                    <strong>Products</strong>
                </a>
                <a href="{% url 'blog:blog' %}" class="navbar-brand d-flex align-items-center">
                    <strong>Blog</strong>
                </a>
                {% if user.is_authenticated %}
                    <a href="{% url 'users:profile' %}" class="navbar-brand d-flex align-items-center">
                        <strong>Profile</strong>
                    </a>
                    <a href="{% url 'users:logout' %}" class="navbar-brand d-flex align-items-center">
                        <strong>LogOut</strong>
                    </a>
                    {% if user.first_name %}
                        <small class="text-muted mt-1 me-2 py-2">Привет, {{ user.first_name }}!</small>
                    {% endif %}
                {% else %}
                    <a href="{% url 'users:login' %}" class="navbar-brand d-flex align-items-center">
                        <strong>LogIn</strong>
                    </a>
                    <a href="{% url 'users:register' %}" class="navbar-brand d-flex align-items-center">
                        <strong>Registration</strong>
                    </a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarHeader"
                        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </header>
{% endblock %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">HomeStore</h1>
    <p class="lead">HomeStore - Magazine On Sofa</p>
</div>
{% block content %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">HomeStore</h1>
        <p class="lead">HomeStore - это отличный вариант хранения ваших плагинов и примеров кода, который вы бы хотели
            продать</p>
    </div>
{% endblock %}

{% block footer %}
    <footer class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Back to top</a>
            </p>
            <p class="mb-1">&copy; {% now 'Y' %}</p>
            <p class="mb-0">HomeStore</p>
        </div>
    </footer>

    <script src="/static/js/bootstrap.bundle.min.js"></script>
{% endblock %}

</body>
</html>